<div class="personal-info-container">

    <div class="recordsList grid">
        <div class="listMain">
            <div class="record">
                <div class="recHead">
                    <div class="recTitle">
                        <p>News header #1</p>
                    </div>
                    <div class="recButt">
                        <div class="recButtEd">
                            <p>&#9998;</p>
                        </div>
                        <div class="recButtDel">
                            <p>&times;</p>
                        </div>
                    </div>
                </div>
                <div class="recMain">
                    <p>Sample text.</p>
                </div>
            </div>
            <div class="record">
                <div class="recHead">
                    <div class="recTitle">
                        <p>News header #2</p>
                    </div>
                    <div class="recButt">
                        <div class="recButtEd">
                            <p>&#9998;</p>
                        </div>
                        <div class="recButtDel">
                            <p>&times;</p>
                        </div>
                    </div>
                </div>
                <div class="recMain">
                    <p>Sample text.</p>
                </div>
            </div>
            <div class="record">
                <div class="recHead">
                    <div class="recTitle">
                        <p>News header #3</p>
                    </div>
                    <div class="recButt">
                        <div class="recButtEd">
                            <p>&#9998;</p>
                        </div>
                        <div class="recButtDel">
                            <p>&times;</p>
                        </div>
                    </div>
                </div>
                <div class="recMain">
                    <p>Sample text.</p>
                </div>
            </div>
            <div class="record">
                <div class="recHead">
                    <div class="recTitle">
                        <p>News header #4</p>
                    </div>
                    <div class="recButt">
                        <div class="recButtEd">
                            <p>&#9998;</p>
                        </div>
                        <div class="recButtDel">
                            <p>&times;</p>
                        </div>
                    </div>
                </div>
                <div class="recMain">
                    <p>Sample text.</p>
                </div>
            </div>
            <div class="record">
                <div class="recHead">
                    <div class="recTitle">
                        <p>News header #5</p>
                    </div>
                    <div class="recButt">
                        <div class="recButtEd">
                            <p>&#9998;</p>
                        </div>
                        <div class="recButtDel">
                            <p>&times;</p>
                        </div>
                    </div>
                </div>
                <div class="recMain">
                    <p>Sample text.</p>
                </div>
            </div>
            <div class="record">
                <div class="recHead">
                    <div class="recTitle">
                        <p>News header #6</p>
                    </div>
                    <div class="recButt">
                        <div class="recButtEd">
                            <p>&#9998;</p>
                        </div>
                        <div class="recButtDel">
                            <p>&times;</p>
                        </div>
                    </div>
                </div>
                <div class="recMain">
                    <p>Sample text.</p>
                </div>
            </div>
            <div class="record">
                <div class="recHead">
                    <div class="recTitle">
                        <p>News header #7</p>
                    </div>
                    <div class="recButt">
                        <div class="recButtEd">
                            <p>&#9998;</p>
                        </div>
                        <div class="recButtDel">
                            <p>&times;</p>
                        </div>
                    </div>
                </div>
                <div class="recMain">
                    <p>Sample text.</p>
                </div>
            </div>
            <div class="record">
                <div class="recHead">
                    <div class="recTitle">
                        <p>News header #8</p>
                    </div>
                    <div class="recButt">
                        <div class="recButtEd">
                            <p>&#9998;</p>
                        </div>
                        <div class="recButtDel">
                            <p>&times;</p>
                        </div>
                    </div>
                </div>
                <div class="recMain">
                    <p>Sample text.</p>
                </div>
            </div>
            <div class="record">
                <div class="recHead">
                    <div class="recTitle">
                        <p>News header #9</p>
                    </div>
                    <div class="recButt">
                        <div class="recButtEd">
                            <p>&#9998;</p>
                        </div>
                        <div class="recButtDel">
                            <p>&times;</p>
                        </div>
                    </div>
                </div>
                <div class="recMain">
                    <p>Sample text.</p>
                </div>
            </div>
            <div class="record">
                <div class="recHead">
                    <div class="recTitle">
                        <p>News header #10</p>
                    </div>
                    <div class="recButt">
                        <div class="recButtEd">
                            <p>&#9998;</p>
                        </div>
                        <div class="recButtDel">
                            <p>&times;</p>
                        </div>
                    </div>
                </div>
                <div class="recMain">
                    <p>Sample text.</p>
                </div>
            </div>
        </div>
    </div>
    <!--
    <hr>
    <button (click)="continue()">
        Continue
    </button>-->
</div>